.buttonPrimary{
  color: red;
  border-color: red;
}

.buttonSecondary{
  color: green;
  border-color: green;
}

.buttonSmall {
  font-size: 10px;
  padding: 5px 10px;
  margin: 5px;
  border-radius: 5px;
}

.buttonBig {
  font-size: 16px;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 10px;
}
